* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  gap: 10vw;
}

.input-container {
  /* background-color: red; */
  max-width: 30vw;
  width: 100%;
  box-shadow: rgba(32, 32, 218, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.template-container {
  max-width: 100%;
  max-width: 70vw;
  box-shadow: rgba(32, 32, 218, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

.profile {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

header h1 {
  font-weight: 200;
  font-size: 2rem;
  word-spacing: 0.2rem;
  text-transform: uppercase;
}

header p {
  color: green;
  font-size: 0.8rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.edu-exp,
.pract-exp {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.edu-exp h2,
.pract-exp h2 {
  font-weight: 500;
}

.edu-exp h3,
.pract-exp h3 {
  font-weight: 600;
  font-family: sans-serif;
  text-transform: uppercase;
}

.edu-exp h3 span,
.pract-exp h3 span {
  color: green;
  text-transform: uppercase;
}

.edu-exp div,
.pract-exp div {
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  color: gray;
}

.edu-exp p,
.pract-exp p {
  font-style: italic;
}

/* ******* */

form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  min-height: 100vh;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

form .done {
  text-align: center;
  font-size: 4vw;
}
